html,
body {
	margin: 0;
	min-height: 100%;
}

body {
	background: linear-gradient(-30deg, #f6dbf2 0%, #92a8d1 100%) no-repeat;
	font-family: 'Arial', sans-serif;
	letter-spacing: 1px;
	color: #444;
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}

form {
	display: flex;
	flex-direction: column;
}

.form-group {
	margin: 30px 0;
}

input {
	font-family: 'Arial', sans-serif;
	letter-spacing: 1px;
	color: #444;
}

.custom-select-wrapper label {
	display: block;
	margin: 20px 0;
}

button {
	height: 50px;
	padding: 16px 2em;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	background: #9226f4;
  cursor: pointer;
  margin-top: 4px;
}

.form-wrapper {
	display: flex;
	align-items: center
}

.form-wrapper form {
	flex: 1;
	margin-right: 30px;
}